* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.nav-bar {
    height: 75px;
}

.nav-icons {
    display: flex;
    list-style: none;
    float: right;
    margin: 5px;
    padding-top: 20px;
    font-size: 10px;
}

.nav-icons li {
    padding-right: 7px;
}

.signature {
    float: left;
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: .8rem;
    /* font-size: 20px; */
}

.proj-img {
    width: 40%;
}

.hero-image {
    background: url(https://images.pexels.com/photos/567584/nature-galaxy-milky-way-night-567584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 0px;
    position: relative;
}

h3 {
    padding: 20px;
}

.about-me {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* .about-me div {
    display: flex;
} */

.pro-pic {
    margin-bottom: 20px;
    margin-left: 30px;
    float: right;
}

#aboutme {
    margin-top: 0;
    padding: 20px;
}

#aboutme-txt {
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.hero-title {
    text-align: right;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.pro-pic {
    width: 200px;
}

.about-me, .tech-used, .my-projects {
    text-align: center;
}

.tech-list {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tech-list li {
    list-style: none;
    background: none;
    padding: 20px;
    display: inline-block;
}

.js-img, .css-img, .html-img, .jq-img {
    width: 100px;
}

.about-me, .my-projects {
    background: lightgray;
}

.button-wrapper {
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.contact-form {
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: center;
    height: 75px;
    background: lightgray;
}

.linkedin-icon, .github-icon {
    color: black;
    font-size: 30px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

@media only screen and (min-width: 350px) {
    .nav-icons {
    font-size: 12px;
}
    /* .signature {
    font-size: 12px;
    } */
}

@media only screen and (min-width: 600px) {
    .nav-icons {
    font-size: 18px;
}
    .signature {
    font-size: 1.2rem;
    }
}

