* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.nav-bar {
    height: 75px;
}

.nav-bar a {
    color: rgb(85, 85, 243);
}

.nav-bar a:hover {
    color: blue;
}

.nav-bar a:visited {
    color: rgb(85, 85, 243);
}

.nav-icons {
    display: inline-block;
    list-style: none;
    float: right;
    margin: 5px;
    padding-top: 20px;
    /* font-size: 10px; */
}

.nav-icons li {
    display: inline-block;
    padding-right: 12px;
}

.signature-wrapper {
    display: inline-block;
    width: auto;
}
.signature {
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: .8rem;
    font-size: 20px;
}

.hero-image {
    background: url(https://images.pexels.com/photos/567584/nature-galaxy-milky-way-night-567584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 0px;
    position: relative;
}

h3 {
    padding: 20px;
}

.about-me {
    margin-top: 0px;
    margin-bottom: 10px;
    flex-direction: column;
}

#aboutme {
    margin-top: 0;
    padding: 20px;
}

.about-pic-container-column,
.about-text-container-column {
    width: 19%;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    vertical-align: top;
}

.about-text-container-column {
    width: 80%;
}

.about-me,
.tech-used,
.my-projects {
    text-align: center;
}

.pro-pic {
    width: 100%;
    border-radius: 15px;
}

.hero-title {
    text-align: right;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.skills-container .skills-container-images {
    display: block;
    width: 100%;
    text-align: center;
}

.skills-container .skills-container-images figure {
    width: 19%;
    display: inline-block;
    margin-bottom: 2rem;
}

.skill-name img {
    padding: 10px;
    height: 120px;
    vertical-align: top;
}

figcaption {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-me,
.my-projects {
    background: lightgray;
}

.project-title {
    font-weight: bolder;
    padding: 5px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

.proj-img-wrapper,
.proj-text-wrapper {
    width: 49%;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    vertical-align: top;
}

.proj-img {
    width: 100%;
    /* float: left; */
    padding: 30px;
    padding-top: 0px;
}

.tech-list {
    margin-top: 1rem;
    display: inline-block;
}

.tech-name {
    display: inline-block;
    padding: 4px;
    border: 1px solid black;
    margin: 20px 5px;
    background-color: white;
}

.button-wrapper {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.button-wrapper a {
    background-color: #3485E2;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    width: auto;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    margin-bottom: 1%;
}

.button-wrapper a:hover {
    background-color: blue;
}

.button-wrapper a:visited {
    color: #eee;
}

.contact-form {
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: center;
    height: 75px;
    background: lightgray;
}

.linkedin-icon,
.github-icon {
    color: black;
    font-size: 30px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

/* media queries */

/*large desktop*/
@media only screen and (max-width: 1600px) {
    body {
        border: 3px solid yellow;
    }
    .skills-container .skills-container-images figure {
        width: 16%;
    }
}

/*iPad lanscape / small laptop*/
@media only screen and (max-width: 1024px) {
    body {
        border: 3px solid blue;
    }
    .skills-container .skills-container-images figure {
        width: 24%;
    }
}

/*iPad potrait*/
@media only screen and (max-width: 768px) {
    body {
        border: 3px solid red;
    }

    .about-pic-container-column,
    .about-text-container-column {
        width: 29%;
    }

    .about-text-container-column {
        width: 70%;
    }

    .skills-container .skills-container-images figure {
        width: 32%;
    }

    .proj-img-wrapper,
    .proj-text-wrapper {
        width: 100%;
        display: block;
    }
}

/*Android landscape*/
@media only screen and (max-width: 640px) {
    body {
        border: 3px solid brown;
    }
    .nav-icons li {
        display: inline-block;
        padding-right: 3px;
        font-size: 95%;
    }
    .skills-container .skills-container-images figure {
        width: 32%;
    }
    .about-pic-container-column,
    .about-text-container-column {
        width: 39%;
    }

    .about-text-container-column {
        width: 60%;
    }
}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {
    body {
        border: 3px solid green;
    }
    .nav-icons li {
        padding-right: 10px;
        font-size: 120%;
    }
    .nav-text {
        display: none;
    }
    .skills-container .skills-container-images figure {
        width: 49%;
    }
    .about-pic-container-column,
    .about-text-container-column {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-text-container-column {
        width: 80%;
    }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {
    body {
        border: 3px solid purple;
    }
    .skills-container .skills-container-images figure {
        width: 99%;
    }
}